* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montsserat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: black;
}

.header {
  width: 100vw;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: rgb(25, 25, 65);
  color: #f2f2f2;

  & a {
    text-decoration: none;
    color: #f2f2f2;
  }

  & .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    /* logo */
    & .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      & i {
        font-size: 3rem;
      }

      & p {
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
      }
    }

    /* search bar */
    & .search {
      width: 35rem;
      height: 4.5rem;

      & .search-bar {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        border: none;
        padding: 0.5rem;
      }
    }

    /* central de atendimento */
    & .atendimento,
    & .login {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: 1.5rem;

      & i {
        font-size: 2.5rem;
      }

      & span {
        font-weight: 700;
      }
    }

    & .carrinho {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      & i {
        font-size: 2.5rem;
      }
    }
  }
}
