* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montsserat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: black;
  background-color: #f3f3f3;
}

.header {
  width: 100vw;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: rgb(25, 25, 65);
  color: #f2f2f2;

  & a {
    text-decoration: none;
    color: #f2f2f2;
  }

  & .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    /* logo */
    & .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      & i {
        font-size: 3rem;
      }

      & p {
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
      }
    }

    /* search bar */
    & .search {
      width: 35rem;
      height: 4.5rem;

      & .search-bar {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        border: none;
        padding: 0.5rem;
      }
    }

    /* central de atendimento */
    & .atendimento,
    & .login {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: 1.5rem;

      & i {
        font-size: 2.5rem;
      }

      & span {
        font-weight: 700;
      }
    }

    & .carrinho {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      & i {
        font-size: 2.5rem;
      }
    }
  }
}

.hero {
  height: 54.6rem;
  background-image: url("https://cdn.awsli.com.br/1920x1920/2423/2423046/banner/garanta-o-seu--8s85dpkwwu.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.main {
  width: 100vw;

  & .container {
    padding: 2.5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;

    & .products-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.5rem;

      & .product-card {
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;
        gap: 0.5rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 1rem rgba(0, 0, 5, 0.2);
          background-color: #f3f3f3;
          transform: scale(1.1);
        }

        & img {
          width: 60%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
